<!DOCTYPE html>
<html lang="en">

<head>

	<!-- META -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="author" content="DanielFortune" /> 
    <meta name="keywords" content="" /> 
    <meta name="robots" content="" /> 
	<meta name="description" content="Daniel Fortune - Portal de Plataformas de SLOTS"/>
	<meta property="og:title" content="Daniel Fortune - Portal de Plataformas de SLOTS" />
	<meta property="og:description" content="Daniel Fortune - Portal de Plataformas de SLOTS" />
	<meta property="og:image" content="xhtml/social-image.png"/>
	<meta name="format-detection" content="telephone=no">
	
	<!-- FAVICONS ICON -->
	<link rel="shortcut icon" type="image/x-icon" href="welcome/images/favicon.png" />
	
	<!-- PAGE TITLE HERE -->
	<title>@DanielFortune - Portal</title>
	
	<!-- MOBILE SPECIFIC -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- STYLESHEETS -->
	<link rel="stylesheet" type="text/css" href="welcome/css/style.css">
	<link rel="stylesheet" type="text/css" href="welcome/vendor/themify-icons/css/themify-icons.css">

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com/">
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
	
</head>
<body>
<div class="page-wraper">

	<!-- Content -->
    <div class="page-content">
	
		<!-- inner page banner -->
		<div class="mobile-app-area" id="particles-snow" style="background-image:url(welcome/images/bg1.jpg); background-size:cover; background-position:left center;">
            <div class="container">
				<div class="row align-items-center">
					<div class="col-md-12 col-lg-7 text-center text-lg-left my-4">
						<h2 class="main-title">
							DanielFortune - Tudo sobre o mundo dos SLOTS
						</h2>
						<ul class="point-list">
							<li>Curso Grátis</li>
							<li>Platarformas Favoritas</li>
							<li>Análise de Plataformas</li>
							<li>Grupo no Telegram</li>
							<li>Tire suas dúvidas</li>
							<li>Acompanhe seus ganhos</li>
							<li>Dashboard</li>
							<li>Estatísticas</li>
						</ul>
						
						<div class="mb-5"> 
							<!--a href="#" target="_blank" class="btn btn-warning mr-2 DZBuyNowBtn">
								<img src="welcome/images/cart.png" alt="" width="22" class="mr-2"/> Assine agora! 
							</a-->
						</div>
			
						<div class="scan-area">
							<div class="scan"><img src="welcome/images/qr-code.png" alt=""/></div>
							<p>Escaneie para acessar <br/> direto no seu celular</p>
						</div>
					</div>
					<div class="col-md-12 col-lg-5">
						<div class="phoneContent">
							<div class="round-1">
								<div class="round-2"></div>
							</div>
							<div class="phoneWrapper">
								<div class="in">
									<iframe class="getFrame" src="xhtml/login.html"></iframe>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>
		
    </div>
</div>
<!-- JAVASCRIPT FILES ========================================= -->
<script src="welcome/vendor/global/global.min.js"></script>
<script src="welcome/vendor/particles/particles.js"></script><!-- PARTICLES JS  -->
<script src="welcome/vendor/particles/particles.app.js"></script><!-- PARTICLES JS  -->
<script src="welcome/js/custom.js"></script>
</body>

</html>
