{% load widget_tweaks %}
<div class="modal-header">
  <h4 class="modal-title">Recuperar Senha</h4>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
  ></button>
</div>
<div class="modal-body">
  <form
    hx-post="{% url 'users:reset_password' %}"
    hx-target="#conten-all-platforms-modal"
    hx-swap='innerHTML'
    role="form"
  >
    {% csrf_token %}
    <div class="row justify-content-center form-group">
      <p>Digite o e-mail cadastrado para recuperar sua senha.</p>
      {% for field in form.visible_fields %}
        <div class="form-group">
          {% render_field field class="form-control" placeholder=field.label %}
        </div>
        {% if field.help_text %}
          <span class="sent-message">{{ field.help_text }}</span>
        {% endif %}
        {% for error in field.errors %}
          <span class="error-message">{{ error }}</span> <br>
        {% endfor %}
      {% endfor %}
      {% include 'development/components/form_error.html' %}
      <div class="text-center mt-3 contact-email">
        <button type="submit" class="buy-tickets scrollto">Solicitar</button>
        <p class='mt-3'>
          <a
            href="#"
            hx-get="{% url 'users:login' %}"
            hx-target="#conten-all-platforms-modal"
            hx-swap="innerHTML"
          >
            Clique aqui para logar
          </a>
        </p>
      </div>
    </div>
  </form>
</div>