<div class="modal-header">
  <h4 class="modal-title">Redefinição de senha</h4>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
  ></button>
</div>
<div class="modal-body">
  <h3>Solicitação realizada !</h3>
  <p>
    Nós te enviamos um email com instruções
    para configurar sua senha, se uma conta
    existe com o email fornecido. <br>Você receberá a mensagem em breve.
  </p>
  <p>
    Se você não recebeu um email, por favor
    certifique-se que você forneceu o endereço
    correto cadastrado, e verifique sua pasta de spam.
  </p>
</div>