{% extends 'development/base.html' %}

{% block content %}
<section
  id="subscribe"
  {% if site_setup.sectionsubscribe.background %}
  style="background-image: url('{{site_setup.sectionsubscribe.background.url}}');"
  {% endif %}
>
  <div class="container" data-aos="zoom-in">
    <div class="section-header">
      <h2 class='mb-2 dz-title text-white'>Tudo certo</h2>
    </div>
    <div class="text-center mt-3 contact-email">
      <p class='mt-3'>
        Sua conta foi ativada. Você pode prosseguir e se
        <a href="{% url 'core:index' %}">
          autenticar agora.
        </a>
      </p>
    </div>
  </div>
</section>
{% endblock content %}
{% block msg_install %}{% endblock msg_install %}