{% extends 'development/base.html' %}
{% load widget_tweaks %}

{% block content %}
<main id="main">
  <section
    id="subscribe"
    {% if site_setup.sectionsubscribe.background %}
      style="background-image: url('{{site_setup.sectionsubscribe.background.url}}');"
    {% endif %}
  >
    <div class="container" data-aos="zoom-in">
      <div class="section-header">
        <h2 class='mb-2 dz-title text-white'>Ativar Conta</h2>
        <p>{{site_setup.sectionsubscribe.paragraph|safe}}</p>
      </div>
      {% if validlink %}
        <p class="text-center">Clique abaixo para ativar sua conta</p>
        <form action="." method="post" role="form">
          <div class="row justify-content-center form-group">
            {% csrf_token %}
            {% for field in form.visible_fields %}
              <div class="form-group col-md-6 mt-3 mt-md-0">
                {% render_field field class="form-control" placeholder=field.label %}
              </div>
              <span class="sent-message">{{ field.help_text }}</span>
                {% for error in field.errors %}
                  <span class="error-message">{{ error }}</span> <br>
                {% endfor %}
            {% endfor %}
          </div>
          <div class="text-center mt-2">
            <button class="btn mt-2 btn-primary w-100 btn-rounded" type="submit">Ativar</button>
          </div>
        </form>
      {% else %}
          <p>O link para a recuperação de senha está inválido, possivelmente porque já foi utilizado. Por favor, solicite uma nova recuperação de senha.</p>
      {% endif %}
    </div>
  </section>
</main>
{% endblock content %}
{% block msg_install %}{% endblock msg_install %}