{% load static %}
{% load pwa %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, minimal-ui, viewport-fit=cover">
<meta name="theme-color" content="#2196f3" />
<meta name="author" content="DanielFortune" />
<meta name="google-adsense-account" content="ca-pub-5553372602902301">
<meta name="keywords" content="jogos de slots, melhores slots, jogos de slots online, slots online" />
<meta name="robots" content="index" />
<meta name="description" content="Daniel Fortune - Portal de Plataformas de SLOTS"/>
<meta property="og:title" content="Daniel Fortune - Portal de Plataformas de SLOTS" />
<meta property="og:description" content="Daniel Fortune - Portal de Plataformas de SLOTS" />
<meta property="og:image" content="social-image.png"/>
<meta property="og:url" content="https://www.danielfortune.com.br">
<!--<meta property="og:image" content="https://jobie.dexignzone.com/mobile-app/xhtml/social-image.png"/>-->
<title>@DanielFortune - Portal</title>
<meta name="format-detection" content="telephone=no">
{% progressive_web_app_meta %}
<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/fav-emoji.png' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'development/css/style.css' %}">
<link rel="stylesheet" href="{% static 'development/vendor/swiper/swiper-bundle.min.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;family=Racing+Sans+One&amp;display=swap" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.css">
