<div class="container">
  <form class="my-2">
    <div class="input-group">
      <input type="file" class="imageuplodify"
        accept=".xlsx,.xls,image/*,.doc,audio/*,.docx,video/*,.ppt,.pptx,.txt,.pdf" multiple>
    </div>
    <div class="input-group">
      <input type="text" placeholder="User name" class="form-control">
    </div>
    <div class="input-group">
      <input type="text" placeholder="User email" class="form-control">
    </div>
    <div class="input-group">
      <input type="text" placeholder="Phone number" class="form-control">
    </div>
  </form>
</div>