{% load static %}
<div class="categorie-section">
  <div
    class="title-bar"
    style="border-bottom: 1px solid rgba(0, 0, 0, 0.125); padding: 0.5rem 1rem;"
  >
    <h5 class="dz-title">Destaques do Dia</h5>
  </div>
  <ul class="d-flex align-items-center">
    {% for favorite in favorites %}
      {% if favorite.site_setup_id == site_setup.pk %}
        <li
          hx-post="{% url 'counters:service' %}"
          hx-swap='none'
          hx-vals='{"service": "Acessando Plataforma Destaque - {{favorite.name}}"}'
        >
          <a
            href="{% url 'platforms:platform' favorite.slug %}"
            class="btn"
          >
            <img
              {% if favorite.logo %}
                src="{{favorite.logo.url}}"
              {% else %}
                src="{% static 'development/images/place_holder.jpg' %}"
              {% endif %}
                alt="{{favorite.name}}"
            >
          </a>
        </li>
        {% if forloop.counter|divisibleby:"4" == "0" and not forloop.last %}
          </ul>
          <h1></h1>
          <ul class="d-flex align-items-center">
        {% endif %}
      {% endif %}

    {% endfor %}
    {% if remaining_slots != 4 and remaining_slots != 0 %}
        {% for _ in "x"|rjust:remaining_slots %}
          {% include 'development/components/heart_for_fav_platform.html' %}
        {% endfor %}
    {% elif remaining_slots == 0 and not favorites %}
        {% for _ in "x"|rjust:4 %}
          {% include 'development/components/heart_for_fav_platform.html' %}
        {% endfor %}
    {% endif %}
  </ul>
</div>
