{% extends "iprof/base.html" %} {% block content %}
<main class="container" style="max-width: 800px">
  <h1 class="text-center">Política de Privacidade</h1>
  <h2 class="section-title">Informações do Usuário</h2>
  <ul>
    <li>
      É importante coletarmos algumas informações dos usuários de nossos
      serviços para que possamos oferecer um site melhor e mais direcionado às
      suas preferências. Também precisamos informá-los sobre novidades e
      informações relevantes. Por isso, leia atentamente esta política e nossos
      termos de uso.
    </li>
    <li>
      Garantimos que quaisquer informações pessoais dos usuários não serão
      fornecidas, publicadas ou comercializadas em quaisquer circunstâncias.
      Estas informações estão seguras conosco. Exceto em casos de participação
      do usuário em algum comentário ou postagem. Neste caso, o nome, email e
      depoimento poderão ser publicados, conforme nossos termos de uso.
    </li>
  </ul>
  <h2 class="section-title">Cadastro</h2>
  <ul>
    <li>
      Nós nunca enviamos e-mails solicitando confirmação de dados/cadastro ou
      com anexos executáveis (extensão exe, com, scr, bat).
    </li>
    <li>
      Para usufruir dos benefícios adicionais do site e receber o email com
      informações sobre nossos serviços, você precisa se cadastrar em algum de
      nossos formulários de opt-in. Este cadastro é armazenado em um banco de
      dados protegido e sigiloso.
    </li>
    <li>
      Caso não queira receber mais nossos informativos, basta clicar no link de
      cancelamento que há no rodapé de cada mensagem ou nos avisar através de
      e-mail. Nós nunca enviamos spams.
    </li>
  </ul>
  <h2 class="section-title">Cookies</h2>
  <ul>
    <li>
      Podemos utilizar a tecnologia de cookies para melhorar a experiência do
      usuário. Isso auxilia na identificação do seu IP, facilitando a navegação
      e customizando a navegação. Você pode bloquear qualquer uso de cookies
      diretamente no seu navegador.
    </li>
    <li>
      Possuímos links de acesso para outros sites e que não estão cobertos por
      esta política. Assim, verifique a política de privacidade desses sites,
      tendo em vista que suas informações serão administradas de acordo com a
      política de cada um deles e que podem diferenciar das nossas.
    </li>
  </ul>

  <h2 class="section-title">Compartilhamento de informações</h2>
  <ul>
    <li>
      Para fins de segurança, as informações poderão ser compartilhadas quando
      houver requerimento de autoridades judiciais ou governamentais competentes
      para fins de investigações pessoais conduzidas por elas, mesmo que não
      exista uma ordem judicial, por exemplo (e sem limitar-se a) quando
      tratar-se de investigação de caráter penal ou a violação de direitos do
      autor, ressalvadas as hipóteses de sigilo de informações determinadas por
      leis em vigor, ou ainda, comunicar informações quando haja motivos
      suficientes para considerar que a atividade de um usuário seja suspeita de
      tentar ou de cometer um delito ou tentar prejudicar outras pessoas.
    </li>
    <li></li>
  </ul>

  <h2 class="section-title">Dúvidas e correção de dados</h2>
  <ul>
    <li>
      Em caso de dúvidas o usuário poderá entrar em contato pelo e-mail: suporte@econometriafacil.com.br (A/C Departamento Juridico).
    </li>
    <li>
      Reservamo-nos o direito de alterar a política a qualquer momento.
    </li>
  </ul>

  <h2 class="section-title">Contato</h2>
  <p>

  </p>
</main>
{% endblock content %}
