{% load static %}
<div
		class="offcanvas offcanvas-bottom pwa-offcanvas"
		id="showAlertPWAIos"
		style="display: none;"
	>
		<div class="container">
			<div class="offcanvas-body small">
				<img class="logo" src="{% static 'images/fav-emoji.png' %}" alt="logo"/>
				<h5 class="title">Daniel Fortune</h5>
				<p class="pwa-text">
					Instale o APP <b class='fw-bold'>Daniel Fortune</b> em sua tela inicial para fácil acesso.
				</p>
				<p class="pwa-text">
					Clique na opção "Adicionar à Tela de Início"
					no menu de compartilhamento do Safari ou no seu navegador favorito.
				</p>
				<a
					href="#"
					class="btn btn-sm pwa-close light btn-info ms-2"
				>
					Fechar
				</a>

			</div>
		</div>
	</div>