<div id="notification-dropdown" class="notification-dropdown" hx-swap-oob="afterbegin">
    <input type="hidden" name="id-notification" value='{{obj.id_notification}}'>
    <div class="alert alert-{{obj.color|default:'info'}} light alert-dismissible fade show">
        {% if link %}
            <div
                class="item-content"
                role='button'
                hx-post="{% url 'counters:service' %}"
                hx-swap='none'
                hx-vals='{"service": "Acessando Notificação - {{obj.link}}"}'                
            >
                <a href='{{obj.link}}' target='_blank' style='background-color:{{obj.color|default:"info"}};'>
                    {% if obj.emoji %}
                        <svg 
                            viewBox="0 0 24 24" 
                            width="20" 
                            height="20" 
                            stroke="currentColor" 
                            stroke-width="2" 
                            fill="none" 
                            stroke-linecap="round" 
                            stroke-linejoin="round" 
                            class="me-2"
                        >
                            {% if obj.emoji == 'smile' %}
                                <circle cx="12" cy="12" r="10"></circle>
                                <path d="M8 14s1.5 2 4 2 4-2 4-2"></path>
                                <line x1="9" y1="9" x2="9.01" y2="9"></line>
                                <line x1="15" y1="9" x2="15.01" y2="9"></line>
                            {% elif obj.emoji == 'nice' %}
                                <path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path>
                            {% elif obj.emoji == 'checked' %}
                                <polyline points="9 11 12 14 22 4"></polyline>
                                <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
                            {% elif obj.emoji == 'info' %}
                                <circle cx="12" cy="12" r="10"></circle>
                                <line x1="12" y1="16" x2="12" y2="12"></line>
                                <line x1="12" y1="8" x2="12.01" y2="8"></line>
                            {% elif obj.emoji == 'warning' %}
                                <path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"></path>
                                <line x1="12" y1="9" x2="12" y2="13"></line>
                                <line x1="12" y1="17" x2="12.01" y2="17"></line>
                            {% elif obj.emoji == 'danger' %}
                                <polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon>
                                <line x1="15" y1="9" x2="9" y2="15"></line>
                                <line x1="9" y1="9" x2="15" y2="15"></line>                    
                            {% endif %}
                        </svg>
                    {% endif %}            
                    <strong>{{obj.message}}</strong>
                </a>  
            </div>
        {% else %}
            {% if obj.emoji %}
                <svg 
                    viewBox="0 0 24 24" 
                    width="20" 
                    height="20" 
                    stroke="currentColor" 
                    stroke-width="2" 
                    fill="none" 
                    stroke-linecap="round" 
                    stroke-linejoin="round" 
                    class="me-2"
                >
                    {% if obj.emoji == 'smile' %}
                        <circle cx="12" cy="12" r="10"></circle>
                        <path d="M8 14s1.5 2 4 2 4-2 4-2"></path>
                        <line x1="9" y1="9" x2="9.01" y2="9"></line>
                        <line x1="15" y1="9" x2="15.01" y2="9"></line>
                    {% elif obj.emoji == 'nice' %}
                        <path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path>
                    {% elif obj.emoji == 'checked' %}
                        <polyline points="9 11 12 14 22 4"></polyline>
                        <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
                    {% elif obj.emoji == 'info' %}
                        <circle cx="12" cy="12" r="10"></circle>
                        <line x1="12" y1="16" x2="12" y2="12"></line>
                        <line x1="12" y1="8" x2="12.01" y2="8"></line>
                    {% elif obj.emoji == 'warning' %}
                        <path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"></path>
                        <line x1="12" y1="9" x2="12" y2="13"></line>
                        <line x1="12" y1="17" x2="12.01" y2="17"></line>
                    {% elif obj.emoji == 'danger' %}
                        <polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon>
                        <line x1="15" y1="9" x2="9" y2="15"></line>
                        <line x1="9" y1="9" x2="15" y2="15"></line>                    
                    {% endif %}
                </svg>
            {% endif %}            
            <strong>{{obj.message}}</strong>
        {% endif %}
        <button class="btn-close" data-bs-dismiss="alert" aria-label="btn-close">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>
</div>
    