<div id="main">
    <div class="page-content">
        <div class="banner-wrapper shape-1">
            <div class="welcome-area">
            <div class="welcome-logo">
                <div class="get-started">
                <h1 class="dz-title text-white">Daniel Fortune</h1>
                <p style="color: rgba(255, 255, 255, 0.7)">
                    MAIOR EXPERT em jogos de slot!
                </p>
                </div>
            </div>
            </div>
            <div class="container inner-wrapper">
                <h2 class="dz-title">Esqueceu a senha?</h2>
                <p class="mb-0">Por favor preencha com seu número de celular</p>
            </div>

        </div>
        <div class="container">
            {% if message %}
                {% include 'development/components/toast.html' %}
            {% endif %}
            <div class="otp-area">
                <form
                    hx-post="{% url 'users:forgot-password' %}"
                    hx-target="#main"
                    hx-swap="outerHTML"
                    hx-indicator="#preloader"
                >
                    <div class="input-group">
                    <input
                        type="text"
                        placeholder="Celular"
                        class="form-control"
                        id="id_cell_phone"
                        name="cell_phone"
                        data-inputmask='"mask": "(99) 99999-9999"'
                        data-mask
                        required
                    />
                    </div>
                    <div class="input-group">
                    <button
                        type="submit"
                        class="btn mt-2 btn-primary w-100 btn-rounded"
                        >Enviar Código</button
                    >
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer class="footer fixed">
        <div class="container">
            <a
                href="#"
                hx-get="{% url 'users:register'%}"
                hx-swap="outerHTML"
                hx-target="#main"
                class="btn btn-primary light btn-rounded text-primary d-block"
            >Criar Conta</a
            >
        </div>
    </footer>
</div>
<script>
	$(function(){
		$('[data-mask]').inputmask()
	})
</script>
